@{
    ViewData["Title"] = "Prochaine fermeture";
}
@model List<FermeturePont>
@{string date = "2021-10-11T02:09:00+0200";}

<div class="text-center">
    <h1 class="display-4">Information</h1>
</div>

<p>Prochaine fermeture du pont :</p>
@foreach (var fermeture in Model)
{
    int LeResultat = DateTime.Compare(Convert.ToDateTime(fermeture.closing_date), Convert.ToDateTime(DateTime.Now.ToString()));
    if (LeResultat == 1)
    {
        var date3 = Convert.ToDateTime(date);
        int LeResultat2 = DateTime.Compare(date3, Convert.ToDateTime(fermeture.closing_date));

        if (LeResultat2 == 1)
        {
            date = @fermeture.closing_date.ToString();
        }
    }
}
@foreach (var fermeture in Model)
{
    if (@fermeture.closing_date.ToString() == date)
    {
        <p>Cause : @fermeture.boat_name</p>
        <p>Fermeture : @fermeture.closing_date @fermeture.closing_date.DayOfWeek</p>
        <p>Rouverture du pont : @fermeture.reopening_date @fermeture.reopening_date.DayOfWeek</p>
         TimeSpan DureeFermeture = Convert.ToDateTime(fermeture.reopening_date) - Convert.ToDateTime(@fermeture.closing_date);
        <p>Durée de la fermeture : @DureeFermeture.TotalHours h.</p>
    }
}