@{
    ViewData["Title"] = "Toutes les fermetures";
}

@model List<FermeturePont>
@{
    List<FermeturePont> passe = new List<FermeturePont>();
    List<FermeturePont> avenir = new List<FermeturePont>();
    Model.Sort((a, b) => a.closing_date.CompareTo(b.closing_date));

}

@foreach (var fermeture in Model)
{
    int LeResultat = DateTime.Compare(Convert.ToDateTime(fermeture.closing_date), Convert.ToDateTime(DateTime.Now.ToString()));
    if (LeResultat == 1)
    {
        avenir.Add(fermeture);
    }
    else
    {
        passe.Add(fermeture);
    }
}

<h1>Fermeture à venir</h1>
<table style="list-group">
    <thead>
        <tr>
            <th>Nom du bateau ou de l'évènement</th>
            <th>Date et heure de la fermeture</th>
            <th>Durée de la fermeture</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fermeture in avenir)
        {
            <tr>
                <td>@fermeture.boat_name</td>
                <td>@fermeture.closing_date</td>
                @{TimeSpan DureeFermeture = Convert.ToDateTime(fermeture.reopening_date) - Convert.ToDateTime(@fermeture.closing_date);}
                <td>@DureeFermeture.Hours h et @DureeFermeture.Minutes min</td>
                <td><button><a href="">Voir le détail</a></button></td>
            </tr>
        }
    </tbody>
</table>

<h1>Les Fermetures déja passé</h1>
<table style="list-group">
    <thead>
        <tr>
            <th>Nom du bateau ou de l'évènement</th>
            <th>Date et heure de la fermeture</th>
            <th>Durée de la fermeture</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fermeture in passe)
        {
            <tr>
                <td>@fermeture.boat_name</td>
                <td>@fermeture.closing_date</td>
                @{TimeSpan DureeFermeture = Convert.ToDateTime(fermeture.reopening_date) - Convert.ToDateTime(@fermeture.closing_date);}
                <td>@DureeFermeture.Hours h et @DureeFermeture.Minutes min</td>
                <td><button><a href="">Voir le détail</a></button></td>
            </tr>
        }

    </tbody>
</table>













